<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</head>

<body>
<button onClick="console.log(this.value)" value="Левая"> Левая </button>
<button onClick="console.log(this.value)" value="Правая"> Правая </button>

</body>
</html>
