<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../../node_modules/socket.io/lib/socket.io.js %>
</head>

<body>
<button onClick="console.log(this.value)" value="Левая"> Левая </button>
<button onClick="console.log(this.value)" value="Правая"> Правая </button>

</body>
</html>
